<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of <strong>movies</strong></h1>

    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container mt-5">
  <h1>All list</h1>

  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

  <%= link_to "Add a new movie list", new_list_path, class:  %>
</div>
